//form subscribe
section.suscripcion
  .py-2.rounded-0.py-3
    .container
      .row
        .col-md-12
          .input-group.py-0
            input.form-control(type='text', placeholder="Your e-mail", aria-label="Recipient's username", aria-describedby='basic-addon2')
            .input-group-append
              button.btn.btn-outline-danger(type='button') Suscribe
    
//./form subscribe
