//Social Media
section.suscripcion
  .py-2.rounded-0.py-3
    .container
      .row
        .col-md-12.text-center.text-white
            a.pr-4.hvr-bob
              i.fa.fa-facebook.fa-2x
            a.pr-4.hvr-bob
              i.fa.fa-twitter.fa-2x
            a.pr-4.hvr-bob
              i.fa.fa-google.fa-2x
            a.pr-4.hvr-bob
              i.fa.fa-linkedin.fa-2x
            a.pr-4.hvr-bob
              i.fa.fa-youtube.fa-2x
//./Social Media