//styles
link(rel="stylesheet", href="bower_components/hover/css/hover-min.css")
link(rel="stylesheet", href="assets/scrollup/image.css")
link(rel="stylesheet", href="assets/scrollup/labs.css")
link(rel="stylesheet", href="assets/css/bootstrap.css")
link(rel="stylesheet", href="bower_components/wow/css/libs/animate.css")
link(rel="stylesheet", href="assets/css/simple_hover_image.css")
link(rel="stylesheet", href="assets/css/style.css")
//./styles